@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Pacifico&display=swap');

body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
}

.home {
    background-color: #3e4b51; 
    color: white;
    padding: 120px 0;
}

.projetos {
    background-color: #6f737e;
    color: #343a40;
    padding: 120px 0;
}

.contato {
    background-color: #3e4b51; 
    color: white;
    padding: 120px 0;
}

h1 {
    font-family: 'Pacifico', cursive; 
    font-size: 3rem;
    color: #f39c12; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    animation: bounce 2s infinite; 
    margin-bottom: 20px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

h2 {
    font-family: 'Pacifico', cursive; 
    font-size: 2.5rem;
    color: white; 
    margin-bottom: 20px;
    text-align: center;
}

h2:hover {
    color: #c1c0ae;
    cursor: pointer;
}

p {
    font-size: 1.25rem;
    line-height: 1.6;
    color: #333; 
}

.destaque {
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    color: white;
}

.home:hover, .projetos:hover, .contato:hover {
    background-color: #2c3e50; 
    transition: background-color 0.3s ease; 
}
